@media(max-width:2000px){

.body{
  background-color:linen;
}

header{
  background-color:grey;
  width:100%;
  margin-top:10px;
}

header h1{
  color:white;
  width:100%;
  padding:5px;
}

span{
  display:inline-block;
}

div{
  font-size:16pt;
  color:black;
  margin-top:30px;
}

h2{
  color:green;
  margin-left:10px;
  padding-top:20px 0;
}

input[type="text"]{
  display:inline-block;
  width:240px;
  font-size:20px;
  margin-left:10px;
}

input[type="submit"]{
  display:inline-block;
  width:60px;
  font-size:20px;
  box-shadow:0 1px black;
}

input[type="submit"]:active{
  position:relative;
  box-shadow:none;
  top:1px;
}

div .btn{
  color:white;
  background-color:green;
  font-size:16pt;
  margin-left:10px;
  box-shadow:0 4px black;
}

div .btn:active{
  position:relative;
  box-shadow:none;
  top:3px;
}

}

@media(max-width:400px){

.body{
  background-color:linen;
}

header{
  background-color:grey;
  width:100%;
  margin-top:10px;
}

header h1{
  color:white;
  width:100%;
  padding:5px;
  font-size:16pt;
}

.title h2{
  color:green;
  margin-left:10px;
  padding-top:10px 0;
  font-size:14pt;
}

input[type="text"]{
  display:inline-block;
  width:240px;
  font-size:20px;
  margin-left:10px;
}

input[type="submit"]{
  display:inline-block;
  width:60px;
  font-size:20px;
  box-shadow:0 1px black;
}

input[type="submit"]:active{
  position:relative;
  box-shadow:none;
  top:1px;
}

div .btn{
  color:white;
  background-color:green;
  font-size:16pt;
  margin-left:10px;
  box-shadow:0 4px black;
}

div .btn:active{
  position:relative;
  box-shadow:none;
  top:4px;
}

}

@media(max-width:300px){

.body{
  background-color:linen;
}

header{
  background-color:grey;
  width:100%;
  margin-top:10px;
}

header h1{
  color:white;
  width:100%;
  padding:5px;
  font-size:16pt;
}

.title h2{
  color:green;
  margin-left:10px;
  padding-top:10px 0;
  font-size:14pt;
}

input[type="text"]{
  display:inline-block;
  width:200px;
  font-size:20px;
  margin-left:10px;
}

input[type="submit"]{
  display:inline-block;
  width:60px;
  font-size:20px;
  box-shadow:0 1px black;
}

input[type="submit"]:active{
  position:relative;
  box-shadow:none;
  top:1px;
}

div .btn{
  color:white;
  background-color:green;
  font-size:16pt;
  margin-left:10px;
  box-shadow:0 4px black;
}

div .btn:active{
  position:relative;
  box-shadow:none;
  top:4px;
}

}
